<%= form_for @customer do |f| %>
    
    <% if @customer.errors.any? %>
        <div id="error_explanation" style="color:red;" >
            <ul> 
                <% @customer.errors.full_messages.each do |mes| %>
                    <li><%= mes %> </li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <hr>
    <h3 style="padding:12px 24px;background-color:powderblue">Customer Form</h3>
    
    <div id="customer_form" style="background-color:#eeeeee;padding:6px 24px">
        <br/>
        <div style="padding: 2px 0"><%= f.label "Name: " %><br/></div>
        <div style="padding: 2px 0"><%= f.text_field :name %><br/></div>
        <div style="padding: 2px 0"><%= f.label "Age: " %><br/></div>
        <div style="padding: 2px 0"><%= f.text_field :age %><br/></div>
        <div style="padding: 2px 0"><%= f.label "Phone Number: " %><br/></div>
        <div style="padding: 2px 0"><%= f.text_field :phone_number %><br/></div>
        <div style="padding: 2px 0"><%= f.label "Address: " %><br/></div>
        <div style="padding: 2px 0"><%= f.text_field :address %><br/></div>
        <div style="padding: 2px 0"><%= f.label "Email: " %><br/></div>
        <div style="padding: 2px 0"><%= f.text_field :email %><br/></div>
        <div style="padding: 2px 0"><%= f.label "Salary: " %><br/></div>
        <div style="padding: 2px 0"><%= f.text_field :salary %><br/></div>
        Please choose your card below:
        <p> 
            <%= f.collection_check_boxes :card_ids, Card.all, :id, :name %></br>
        </p>
        <%= f.submit %>
    </div>
<% end %>

