<h3 style="padding:12px 24px;background-color:powderblue">Profile</h3>
<hr>
<div style="background-color:#eeeeee;padding:6px 24px">
    Name: <%= @customer.name %></br></br>
    Age: <%= @customer.age %></br></br>
    Phone Number: <%= @customer.phone_number %></br></br>
    Address: <%= @customer.address %></br></br>
    Email: <%= @customer.email %></br></br>
    Salary: <%= @customer.salary %></br></br>
    Account: </br>
    <div style="padding-left:16px">
    <% @customer.cards.each do |card| %>
        <li> <%=card.name %> </br>
    <% end %>
    </div>
    </br>
    Transactions: 
    <div style="padding-left:16px">
    <% @customer.transactions.each do |trans| %>
        <li> <%=trans.card.name %> </br>
            - $<%= trans.amount %> made on <%= trans.created_at.strftime("%m/%d/%Y")%></li>
    <% end %>
   </br>
    </div>
</div>
</br>
<div>
<div>
    <%= link_to "Edit", edit_customer_path(@customer) %>
    <%= link_to 'Delete', customer_path(@customer), method: :delete, data: { confirm: 'Are you sure?' } %>
</div>

